/.metadata

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/.metadata/.log
/.metadata/.plugins/org.eclipse.core.resources/.history/11/30e2bf11dba6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/15/10675d57d4a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/1a/00cb15a3d6a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/1c/0034df7dd8a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/2/40b7cf93d2a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/26/40bc79fed1a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/28/60e9e5d9dda6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/28/9005c1a0d6a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/29/70f92c25d6a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/2a/3082018dd3a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/2a/30a4bbb5dda6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/2b/20da3dffd2a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/2e/50469e94dca6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/32/50c4806fd8a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/39/60053cffd2a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/40/30f3c9e9d3a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/41/206db5a1d5a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/45/50e257cedea6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/4b/201cc2f6d3a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/4d/1062b44ed6a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/4d/30c4489dd5a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/51/e0548f50dca6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/54/40f62ba5d5a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/55/f0dabd9ad2a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/59/608b511ddda6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/5c/408d57abd5a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/62/907e4745dda6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/6b/00c1ec8ddda6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/6b/f0fedbdbdba6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/75/20fea182d6a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/79/40524bc0d5a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/7b/403910dad3a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/7b/d04b8a50dca6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/7d/2080544bd4a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/83/20f76bf4d3a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/83/40ec8850dca6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/86/601f3cd9dea6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/89/00db5669d8a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/94/10e1fe94d5a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/94/a01f17a5dea6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/96/90cfc512d2a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/9a/30982c8fd6a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/af/b00663ded5a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/b1/30c64552d6a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/ba/20e4efa0dea6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/bc/a07327e2d3a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/c0/208d66d0d5a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/ca/d05c8d02dfa6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/cb/20cac095d8a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/cf/e04d7890dda6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/d1/701f9ef5dca6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/d6/5042f29adba6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/d7/3046b541d4a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/d8/50ae840fd2a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/da/f0abad50d4a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/e0/c0698f2edca6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/e5/a03dd1a6dca6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/e6/e0bf9d22d2a6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.history/f0/10d180abdea6001d115c9f3f5f6be110
/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
/.metadata/.plugins/org.eclipse.core.resources/.projects/empleos principal/.indexes/6f/26/39/a0/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/empleos principal/.indexes/6f/26/39/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/empleos principal/.indexes/6f/26/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/empleos principal/.indexes/e4/b9/22/81/17/1b/9a/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/empleos principal/.indexes/e4/b9/22/81/17/1b/9c/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/empleos principal/.indexes/e4/b9/22/81/17/1b/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/empleos principal/.indexes/e4/b9/db/39/a0/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/empleos principal/.indexes/e4/b9/db/39/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/empleos principal/.indexes/e4/b9/db/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/empleos principal/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/empleos principal/org.eclipse.jdt.core/state.dat
/.metadata/.plugins/org.eclipse.core.resources/.projects/empleos/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/empleos/org.eclipse.jdt.core/state.dat
/.metadata/.plugins/org.eclipse.core.resources/.projects/holamundo/.indexes/e4/b9/22/81/17/95/9c/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/holamundo/.indexes/e4/b9/db/39/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/holamundo/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/holamundo/.markers
/.metadata/.plugins/org.eclipse.core.resources/.projects/holamundo/org.eclipse.jdt.core/state.dat
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.root/5.tree
/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
/.metadata/.plugins/org.eclipse.debug.core/.launches/empleos - EmpleosApplication.launch
/.metadata/.plugins/org.eclipse.debug.core/.launches/empleos principal - EmpleosApplication.launch
/.metadata/.plugins/org.eclipse.debug.core/.launches/holamundo - HolamundoApplication.launch
/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/.metadata/.plugins/org.eclipse.epp.mpc.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.jdt.core/1027563107.index
/.metadata/.plugins/org.eclipse.jdt.core/1038184197.index
/.metadata/.plugins/org.eclipse.jdt.core/1088291592.index
/.metadata/.plugins/org.eclipse.jdt.core/1130369689.index
/.metadata/.plugins/org.eclipse.jdt.core/1229885184.index
/.metadata/.plugins/org.eclipse.jdt.core/1347691482.index
/.metadata/.plugins/org.eclipse.jdt.core/1353117054.index
/.metadata/.plugins/org.eclipse.jdt.core/1453906255.index
/.metadata/.plugins/org.eclipse.jdt.core/1492166814.index
/.metadata/.plugins/org.eclipse.jdt.core/1509233897.index
/.metadata/.plugins/org.eclipse.jdt.core/1558470068.index
/.metadata/.plugins/org.eclipse.jdt.core/1576936862.index
/.metadata/.plugins/org.eclipse.jdt.core/1587615227.index
/.metadata/.plugins/org.eclipse.jdt.core/1607321950.index
/.metadata/.plugins/org.eclipse.jdt.core/1607868200.index
/.metadata/.plugins/org.eclipse.jdt.core/1652964733.index
/.metadata/.plugins/org.eclipse.jdt.core/1706523322.index
/.metadata/.plugins/org.eclipse.jdt.core/1806675764.index
/.metadata/.plugins/org.eclipse.jdt.core/1824751677.index
/.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
/.metadata/.plugins/org.eclipse.jdt.core/1911167779.index
/.metadata/.plugins/org.eclipse.jdt.core/1950504901.index
/.metadata/.plugins/org.eclipse.jdt.core/2069529639.index
/.metadata/.plugins/org.eclipse.jdt.core/2116788542.index
/.metadata/.plugins/org.eclipse.jdt.core/2148541096.index
/.metadata/.plugins/org.eclipse.jdt.core/2177770790.index
/.metadata/.plugins/org.eclipse.jdt.core/2197467751.index
/.metadata/.plugins/org.eclipse.jdt.core/220338903.index
/.metadata/.plugins/org.eclipse.jdt.core/2210170056.index
/.metadata/.plugins/org.eclipse.jdt.core/226889074.index
/.metadata/.plugins/org.eclipse.jdt.core/2352785475.index
/.metadata/.plugins/org.eclipse.jdt.core/2355962401.index
/.metadata/.plugins/org.eclipse.jdt.core/2432158953.index
/.metadata/.plugins/org.eclipse.jdt.core/2447679968.index
/.metadata/.plugins/org.eclipse.jdt.core/2489659482.index
/.metadata/.plugins/org.eclipse.jdt.core/25656453.index
/.metadata/.plugins/org.eclipse.jdt.core/2672331670.index
/.metadata/.plugins/org.eclipse.jdt.core/2732867647.index
/.metadata/.plugins/org.eclipse.jdt.core/2796660060.index
/.metadata/.plugins/org.eclipse.jdt.core/2859255132.index
/.metadata/.plugins/org.eclipse.jdt.core/292354926.index
/.metadata/.plugins/org.eclipse.jdt.core/2970345706.index
/.metadata/.plugins/org.eclipse.jdt.core/3034762018.index
/.metadata/.plugins/org.eclipse.jdt.core/3064359848.index
/.metadata/.plugins/org.eclipse.jdt.core/3090777259.index
/.metadata/.plugins/org.eclipse.jdt.core/3226055014.index
/.metadata/.plugins/org.eclipse.jdt.core/323065169.index
/.metadata/.plugins/org.eclipse.jdt.core/3303388404.index
/.metadata/.plugins/org.eclipse.jdt.core/3371739736.index
/.metadata/.plugins/org.eclipse.jdt.core/3393254473.index
/.metadata/.plugins/org.eclipse.jdt.core/3424384132.index
/.metadata/.plugins/org.eclipse.jdt.core/3446146576.index
/.metadata/.plugins/org.eclipse.jdt.core/3447704473.index
/.metadata/.plugins/org.eclipse.jdt.core/3553630617.index
/.metadata/.plugins/org.eclipse.jdt.core/3605556731.index
/.metadata/.plugins/org.eclipse.jdt.core/3646377341.index
/.metadata/.plugins/org.eclipse.jdt.core/3712538343.index
/.metadata/.plugins/org.eclipse.jdt.core/3737773008.index
/.metadata/.plugins/org.eclipse.jdt.core/3799218005.index
/.metadata/.plugins/org.eclipse.jdt.core/3866174785.index
/.metadata/.plugins/org.eclipse.jdt.core/3877154935.index
/.metadata/.plugins/org.eclipse.jdt.core/3992248791.index
/.metadata/.plugins/org.eclipse.jdt.core/4009420808.index
/.metadata/.plugins/org.eclipse.jdt.core/4082884518.index
/.metadata/.plugins/org.eclipse.jdt.core/4090813428.index
/.metadata/.plugins/org.eclipse.jdt.core/4187470740.index
/.metadata/.plugins/org.eclipse.jdt.core/4281165664.index
/.metadata/.plugins/org.eclipse.jdt.core/441212422.index
/.metadata/.plugins/org.eclipse.jdt.core/456258250.index
/.metadata/.plugins/org.eclipse.jdt.core/474367164.index
/.metadata/.plugins/org.eclipse.jdt.core/572861266.index
/.metadata/.plugins/org.eclipse.jdt.core/612980740.index
/.metadata/.plugins/org.eclipse.jdt.core/649691207.index
/.metadata/.plugins/org.eclipse.jdt.core/666790533.index
/.metadata/.plugins/org.eclipse.jdt.core/683286629.index
/.metadata/.plugins/org.eclipse.jdt.core/735079167.index
/.metadata/.plugins/org.eclipse.jdt.core/739716454.index
/.metadata/.plugins/org.eclipse.jdt.core/742429288.index
/.metadata/.plugins/org.eclipse.jdt.core/813388424.index
/.metadata/.plugins/org.eclipse.jdt.core/830976241.index
/.metadata/.plugins/org.eclipse.jdt.core/833353640.index
/.metadata/.plugins/org.eclipse.jdt.core/837075783.index
/.metadata/.plugins/org.eclipse.jdt.core/843421487.index
/.metadata/.plugins/org.eclipse.jdt.core/896107707.index
/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2023/2/6/refactorings.history
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2023/2/6/refactorings.index
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/empleos principal/2023/2/6/refactorings.history
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/empleos principal/2023/2/6/refactorings.index
/.metadata/.plugins/org.eclipse.m2e.core.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.m2e.core/empleos principal.lifecyclemapping
/.metadata/.plugins/org.eclipse.m2e.core/empleos.lifecyclemapping
/.metadata/.plugins/org.eclipse.m2e.core/holamundo.lifecyclemapping
/.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
/.metadata/.plugins/org.eclipse.m2e.jdt/empleos principal.container
/.metadata/.plugins/org.eclipse.m2e.jdt/empleos.container
/.metadata/.plugins/org.eclipse.m2e.jdt/holamundo.container
/.metadata/.plugins/org.eclipse.m2e.logback/0.log
/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
/.metadata/.plugins/org.eclipse.wildwebdeveloper.xml/system-catalog.xml
/.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
/.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
/.metadata/version.ini
