<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"><title>Insert title here</title>
</head>
<body>
	<div class="container mt-4">
		<a th:if="${cuenta == 'admin'}" th:href="@{/admin}" class="btn btn-danger">Volver</a>
		<a th:href="@{/tareas/add/}+${cuenta}+@{/}+${ID}" class="btn btn-primary">Nuevo</a>
		<a th:href="@{/}" class="btn btn-primary">Cerrar Seseion</a>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nombre</th>
					<th scope="col">Estado</th>
					<th scope="col">Usuario</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tarea:${tareas}" th:if="${tarea.id_usuario == ID}">
					<td th:text="${tarea.id_tarea}"></td>
					<td th:text="${tarea.nombre}"></td>
					<td th:text="${tarea.estado}"></td>
					<td th:text="${tarea.id_usuario}"></td>
					<td>
						<a th:href="@{/tareas/update/}+${cuenta}+@{/}+${tarea.id_tarea}" class="btn btn-warning">Editar</a>
						<a 	th:if="${cuenta != 'admin'}" 
							th:onclick="eliminar_tarea([[${tarea.id_tarea}]],[[${tarea.id_usuario}]])" 
							class="btn btn-danger">Eliminar
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script>
	function eliminar_tarea(id,id_user) {
		swal({
	        title: "Estas Seguro?",
	        text: "Si lo eliminas no podras recuperarlo...",
	        icon: "warning",
	        buttons: true,
	        dangerMode: true,
	    })
	        .then((OK) => {
	            if (OK) {
	                $.ajax({
	                    url:"/tareas/delete/" + id,
	                    success: function(res){
	                        console.log(res);
	                    }
	                });
	                swal("Se ha eliminado correctamente el usuario!", {
	                    icon: "success",
	                }).then((ok)=>{
	                    if(ok){
	                        location.href="/tareas/user/" + id_user;
	                    }
	                });
	            } else {
	                swal("No se ha eliminado ningun usuario");
	            }
	        });
}
	</script>
	<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>