<!DOCTYPE html>
<html xmlns:th="http:/thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <h1>Creación de categorias</h1>
    <form action="@{/categorias/save}" method="post">
        <div class="mb-3">
            <label for="categoria" class="form-label">Nombre Categoria</label>
            <input type="text" class="form-control" id="categoria" aria-describedby="categoria"></input>
            <div id="categriaHelp" class="form-text">Introduce el nombre de la categoria.</div>
        </div>
        
        <button type="submit" calss="btn btn-primary">Añadir</button>
    </form>
</body>
</html>